html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 25px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.3rem;
  overflow: visible;
}
::-webkit-scrollbar-track {
  background: #010606;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#010606, #01bf71, #010606);
}
